/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #000000;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from { -webkit-transform: scale(0) } 
    to { -webkit-transform: scale(1) }
}

@keyframes zoom {
    from { transform: scale(0) } 
    to { transform: scale(1) }
}

/* The Close Button */
.close {
    position: absolute;
    top: 45px;
    right: 35px;
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #1f1f1f;
    text-decoration: none;
    cursor: pointer;
}

/* New class for reducing the opacity of the background content */
.body-modal-open .container,
.body-modal-open .navbar,
.body-modal-open footer {
    opacity: 0.1;
}

/* Ensure the modal remains fully opaque */
.modal {
    opacity: 1 !important;
}
